*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

body { 
    background-color: rgb(223, 223, 223);
}

#calificaciones {
    background-color: white;
    border-style: solid;
    border-color: rgb(148, 148, 148);
    border-radius: 6px;
    text-align: justify;
    margin: 2px 5em;
    padding: 2px;
}

.boton {
    margin-top: 30px;
    border-color: grey;
    background-color: grey;
    color: black;
    border-style: solid;
    border-radius: 5px;
}