* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    text-align: center;
    margin: 20px 50px;
    background-color: rgb(184, 184, 184);
}

.nombre {
    font-size: 20px;
    background-color: rgb(211, 211, 211);
    margin: auto;
}

.edad {
    font-size: 20px;
    background-color: rgb(211, 211, 211);
    margin: auto;
}

.genero {
    font-size: 20px;
    background-color: rgb(211, 211, 211);
    margin: auto;
}

.comentarios {
    font-size: 20px;
    background-color: rgb(211, 211, 211);
    margin: auto;
}

.boton {
    margin-top: 30px;
    border-color: grey;
    background-color: grey;
    color: black;
    border-style: solid;
    border-radius: 5px;
}