* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.contenedor-pri {
    background-color: rgb(223, 223, 223);
    margin: 80px 500px;
    padding: 20px 20px;
    border: rgb(42, 41, 46);
    border-style: solid;
    border-radius: 5px;
}

body {
    background-color: rgb(170, 170, 172);
}

.boton {
    margin-top: 30px;
    border-color: grey;
    background-color: grey;
    color: black;
    border-style: solid;
    border-radius: 5px;
}