* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

body {
    background-color: rgb(158, 243, 158);
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.da {
    background-color: rgb(196, 236, 185);
    margin: 20px 500px;
    padding: 20px 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(77, 112, 80);
}